<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate</title>
</head>
<body>
    <div class="login">
       <h1>Music Generator</h1>
   
        <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('generate')}}"method="post">
           <input type="text" name="number of target bars" placeholder="number of target bars" required="required" />
           <input type="text" name="temperature" placeholder="temperature" required="required" />
        
   
           <button type="submit" class="btn btn-primary btn-block btn-large">Generate</button>
       </form>
   
      <br>
      <br>
      {{ generated_music }}
   
    </div>
   
   
   </body>
</html>