<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    <h1>Music Successfully Generated</h1>
    <div>
        <div class="home-section-container">
            <div class="main-container d-flex justify-content-center flex-column">
              <div class="text-center">
                <div class="d-flex flex-row justify-content-center m-5">
    <a class="button-sty" href="/download">
        Download midi file
      </a>
    </div>
    <div>
        
    </div>

</body>
</html>